{% extends 'base.html' %}
{% block content %}
<h1>login</h1>
<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
                <span class="error">{{ error }}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span class="error">{{ error }}</span>
            </td>
        </tr>
    </table>
    <input type="submit">
    <div>Don't have any account?<a href='/signup'> Sign Up Here!!</a><div>
</form>

{% endblock %}
